#pogrubienie_Wit{
    font-size: 28px;
    color: #1AF;
}
#pochylona_Wit{
    font-size: 33px;
    color: #21C;
}
#index_gorny_Wit{
    font-size: 0,8cm;
    color: #14A;
}
#index_dolny_Wit{
    font-size: 1,1cm;
    color: #212;
}
#mono_Wit{
    font-size: 38px;
    color: #16A;
}
#powiekszenie_Wit{
    color: #136;
}
#pomniejszenie_Wit{
    color: rgb(182, 164, 59);
}
