#pogrubienie_Tubaja{
    font-size: 31px;
    color: #8669CD;
}
#pochylona_Tubaja{
    font-size: 36px;
    color: #EACD69;
}
#index_gorny_Tubaja{
    font-size: 1,1cm;
    color: #9A9B19;
}
#index_dolny_Tubaja{
    font-size: 1,7cm;
    color: #36FFE1;
}
#mono_Tubaja{
    font-size: 41px;
    color: #1A8769;
}
#powiekszenie_Tubaja{
    color: #544B9B;
}
#pomniejszenie_Tubaja{
    color: rgb(184, 175, 55);
}
