#pogrubienie_Wit{
    font-size: 28px;
    color: #1AF;
}
#pochylona_Wit{
    font-size: 33px;
    color: #21C;
}
#index_gorny_Wit{
    font-size: 1,1cm;
    color: #9A9B19;
}
#index_dolny_Wit{
    font-size: 1,7cm;
    color: #36FFE1;
}
#mono_Wit{
    font-size: 41px;
    color: #1A8769;
}
#powiekszenie_Wit{
    color: #544B9B;
}
#pomniejszenie_Wit{
    color: rgb(184, 175, 55);
}
